a.test {
  font-weight: bold;
}

body { 
font: 62.5%/1.6 Verdana, Tahoma, sans-serif; 
color: #333333; 
} 
h1,h2 { 
color: #ff6600; 
} 
#content { 
margin: 30px auto; 
width: 600px; 
} 
.box { 
border:1px solid #ccc; 
border-radius:4px; 
box-shadow:0 0 2px #ccc; 
} 

/*header*/ 
hgroup { 
margin-bottom: 16px; 
font-weight: 400; 
} 
hgroup h1 { 
color: #999; 
} 
hgroup h2 { 
font-size: 1.4em; 
margin-top: 0; 
} 
/*/header*/ 
