<div class="panel panel-default">
  <div class="panel-body">
    <h3 style="text-align: center">About me</h3>
    <hr>
    .
    .
    .
    <hr>
    <h4 style="text-align: center">Weather</h2>
    .
    .
    .
    <hr>
  </div>
</div>